# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/

# Jupyter
.ipynb_checkpoints/

# Envs / secrets
.env
.env.*
*.env

# Data (nie ładujemy pełbych danych, tylko małe próbki danych)
sprint_1/data/*
!sprint_1/data/01_raw/
!sprint_1/data/02_interim/
!sprint_1/data/03_processed/
sprint_1/data/**/.gitkeep
sprint_1/data/**/README.md
!sprint_1/data/01_raw/sample.csv

# jeśli ktoś pracuje na Macu
.DS_Store
Thumbs.db
